* {
    font-family: "Montserrat", sans-serif;
}

.header_text {
    max-height: 46px;
    width: 100%;
    padding: 0px 30px;
}

.header_text_left {
    float: left;
    height: 46px;
}

.header_text_right {
    float: right;
}